@media (max-width: 830px){
    .logo-navbar nav{
        display: none;
    }
}

@media (max-width: 560px){
    .content-buttons .button{
        margin-bottom: 20px;
        width: 250px;
    }
}

@media (min-width: 1100px){ 
    .container .description{
        width: 900px;
    }
}

@media (min-width: 1650px){
    .main-movie{
        height: 600px;
    }
}

@media (min-width: 1650px){
    .main-movie{
        height: 800px;
    }
}
